In [112]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib.font_manager import FontProperties

# matplotlib.style.use('ggplot')
import matplotlib
# matplotlib.style.use('ggplot')
#matplotlib.style.use('default')
from numpy import *
import numpy as np
%matplotlib inline
%pylab inline
pylab.rcParams['figure.figsize'] = (8, 6)
import subprocess,shlex,sys,select,re,StringIO
def readHive(sql):
    text = ''
    err = ''
    cmd = shlex.split('hive -e '+ '"set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;'+sql+'"')
    print >>sys.stderr, cmd
    sys.stderr.flush()
    proc = subprocess.Popen(cmd, bufsize=0, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    while proc.poll() is None:
        ins, outs, errs = select.select([proc.stdout, proc.stderr], [], [])
        if proc.stdout in ins:
            text += proc.stdout.read()
        if proc.stderr in ins:
            c = proc.stderr.read(1)
            if c == '\n':
                print >>sys.stderr, err
                sys.stderr.flush()
                err = ''
            else:
                err += c
    text += proc.stdout.read()
    print >>sys.stderr, proc.stderr.read()
    sys.stderr.flush()
    header, content = text.split('\n',1)
    header = re.sub('\w*\.','', header)
    return pd.read_table(StringIO.StringIO(header+'\n'+content), error_bad_lines = False)

def f(x):
    x=str(x)
    tmp=x.split("//")
    if len(tmp)<=1:
        return x
    return '.'.join(x.strip().split('//')[1].split('/')[0].split('.')[-3:])

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['f']
`%matplotlib` prevents importing * from pylab and numpy

In [72]:
clk=readHive("select * from fraud_free.dclkv2 where year=2016 and month=10 and day=12")
ld=readHive("select * from etl_output.landing where year=2016 and month=10 and day=12")

['hive', '-e', 'set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;select * from fraud_free.dclkv2 where year=2016 and month=10 and day=12']

Logging initialized using configuration in file:/var/bh/lib/apache-hive-1.2.1-bin/conf/hive-log4j.properties
OK
s, Fetched: 619125 row(s)

/home/jay/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
['hive', '-e', 'set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;select * from etl_output.landing where year=2016 and month=10 and day=12']

Logging initialized using configuration in file:/var/bh/lib/apache-hive-1.2.1-bin/conf/hive-log4j.properties
OK
Fetched: 111002 row(s)

In [113]:
clk['domain']=clk['url'].apply(f)

In [114]:
j=pd.merge(left=clk,right=ld,how='left',on='request_id')

In [115]:
j.query('fraud_flag!=fraud_flag & company_id==630')['request_id'].ucount()

AttributeError: 'Series' object has no attribute 'ucount'

In [122]:
clk.query('fraud_flag==fraud_flag & domain=="dianying.2345.com"')['request_id'].count()

16090

In [58]:
j.dtypes

zid_x               object
mark               float64
timestamp_x          int64
url                 object
refer_x             object
target_url          object
ip_x                 int64
ua_x                object
request_id          object
vendor_id            int64
project_id           int64
company_id           int64
campaign_id          int64
adgroup_id           int64
ad_id                int64
material_id          int64
material_type       object
adslot_id           object
rtb_time             int64
pid                 object
template_id          int64
secret_key          object
uuid_type            int64
uuid               float64
fraud_flag         float64
device_id           object
model_type          object
bid_model          float64
wrap_func           object
segment_type       float64
pctr               float64
adj_pctr           float64
spam_ids            object
minute_x             int64
hour_x               int64
day_x                int64
month_x              int64
year_x               int64
domain              object
zid_y               object
timestamp_y          int64
ip_y                 int64
ua_y                object
refer_y             object
landing_url         object
landing_refer       object
is_from_zamplus    float64
minute_y             int64
hour_y               int64
day_y                int64
month_y              int64
year_y               int64
dtype: object

In [3]:
ip=readHive("select vendor_id,count(distinct hour) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,ip")

['hive', '-e', 'set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;select vendor_id,count(1) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,ip']

Logging initialized using configuration in file:/var/bh/lib/apache-hive-1.2.1-bin/conf/hive-log4j.properties
Query ID = changbin_20161008192356_8ea32016-6060-4883-b762-412b6ea589d3
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1009
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1471856463785_1054957, Tracking URL = http://TS-NN-001:50030/proxy/application_1471856463785_1054957/
Kill Command = /var/bh/hadoop/bin/hadoop job  -kill job_1471856463785_1054957
Hadoop job information for Stage-1: number of mappers: 10609; number of reducers: 1009
2016-10-08 19:24:42,667 Stage-1 map = 0%,  reduce = 0%
2016-10-08 19:25:07,528 Stage-1 map = 1%,  reduce = 0%, Cumulative CPU 1011.5 sec
2016-10-08 19:25:15,033 Stage-1 map = 2%,  reduce = 0%, Cumulative CPU 2217.6 sec
2016-10-08 19:25:22,768 Stage-1 map = 3%,  reduce = 0%, Cumulative CPU 3425.85 sec
2016-10-08 19:25:30,277 Stage-1 map = 4%,  reduce = 0%, Cumulative CPU 4650.02 sec
2016-10-08 19:25:39,416 Stage-1 map = 5%,  reduce = 0%, Cumulative CPU 5988.17 sec
2016-10-08 19:25:45,824 Stage-1 map = 6%,  reduce = 0%, Cumulative CPU 7131.04 sec
2016-10-08 19:25:55,596 Stage-1 map = 7%,  reduce = 0%, Cumulative CPU 8310.65 sec
2016-10-08 19:26:01,984 Stage-1 map = 8%,  reduce = 0%, Cumulative CPU 9354.66 sec
2016-10-08 19:26:09,476 Stage-1 map = 9%,  reduce = 0%, Cumulative CPU 10537.4 sec
2016-10-08 19:26:17,585 Stage-1 map = 10%,  reduce = 0%, Cumulative CPU 11619.57 sec
2016-10-08 19:26:26,534 Stage-1 map = 11%,  reduce = 0%, Cumulative CPU 12714.18 sec
2016-10-08 19:26:35,551 Stage-1 map = 12%,  reduce = 0%, Cumulative CPU 13937.8 sec
2016-10-08 19:26:43,226 Stage-1 map = 13%,  reduce = 0%, Cumulative CPU 14877.34 sec
2016-10-08 19:26:51,108 Stage-1 map = 14%,  reduce = 0%, Cumulative CPU 16011.52 sec
2016-10-08 19:26:56,664 Stage-1 map = 15%,  reduce = 0%, Cumulative CPU 17374.34 sec
2016-10-08 19:26:59,867 Stage-1 map = 16%,  reduce = 0%, Cumulative CPU 18451.47 sec
2016-10-08 19:27:03,107 Stage-1 map = 17%,  reduce = 0%, Cumulative CPU 19611.67 sec
2016-10-08 19:27:05,297 Stage-1 map = 18%,  reduce = 0%, Cumulative CPU 20633.21 sec
2016-10-08 19:27:07,437 Stage-1 map = 19%,  reduce = 0%, Cumulative CPU 21776.07 sec
2016-10-08 19:27:09,567 Stage-1 map = 20%,  reduce = 0%, Cumulative CPU 22823.22 sec
2016-10-08 19:27:12,033 Stage-1 map = 21%,  reduce = 0%, Cumulative CPU 23952.87 sec
2016-10-08 19:27:15,237 Stage-1 map = 22%,  reduce = 0%, Cumulative CPU 24920.09 sec
2016-10-08 19:27:26,993 Stage-1 map = 23%,  reduce = 0%, Cumulative CPU 25953.75 sec
2016-10-08 19:28:08,131 Stage-1 map = 24%,  reduce = 0%, Cumulative CPU 27000.16 sec
2016-10-08 19:29:00,875 Stage-1 map = 25%,  reduce = 0%, Cumulative CPU 28057.28 sec
2016-10-08 19:29:13,358 Stage-1 map = 26%,  reduce = 0%, Cumulative CPU 29088.51 sec
2016-10-08 19:29:22,114 Stage-1 map = 27%,  reduce = 0%, Cumulative CPU 30079.25 sec
2016-10-08 19:29:40,629 Stage-1 map = 28%,  reduce = 0%, Cumulative CPU 31138.18 sec
2016-10-08 19:29:52,470 Stage-1 map = 29%,  reduce = 0%, Cumulative CPU 32157.86 sec
2016-10-08 19:30:00,006 Stage-1 map = 30%,  reduce = 0%, Cumulative CPU 33153.11 sec
2016-10-08 19:30:06,723 Stage-1 map = 31%,  reduce = 0%, Cumulative CPU 34211.8 sec
2016-10-08 19:30:11,024 Stage-1 map = 32%,  reduce = 0%, Cumulative CPU 35056.42 sec
2016-10-08 19:30:16,605 Stage-1 map = 33%,  reduce = 0%, Cumulative CPU 36115.09 sec
2016-10-08 19:30:21,171 Stage-1 map = 34%,  reduce = 0%, Cumulative CPU 37009.0 sec
2016-10-08 19:30:26,543 Stage-1 map = 35%,  reduce = 0%, Cumulative CPU 38229.35 sec
2016-10-08 19:30:29,813 Stage-1 map = 36%,  reduce = 0%, Cumulative CPU 39139.14 sec
2016-10-08 19:30:33,070 Stage-1 map = 37%,  reduce = 0%, Cumulative CPU 40055.33 sec
2016-10-08 19:30:36,328 Stage-1 map = 38%,  reduce = 0%, Cumulative CPU 41080.48 sec
2016-10-08 19:30:41,043 Stage-1 map = 39%,  reduce = 0%, Cumulative CPU 42591.86 sec
2016-10-08 19:30:43,251 Stage-1 map = 40%,  reduce = 0%, Cumulative CPU 43274.7 sec
2016-10-08 19:30:46,514 Stage-1 map = 41%,  reduce = 0%, Cumulative CPU 44286.01 sec
2016-10-08 19:30:49,761 Stage-1 map = 42%,  reduce = 0%, Cumulative CPU 45329.31 sec
2016-10-08 19:30:51,919 Stage-1 map = 43%,  reduce = 0%, Cumulative CPU 46091.3 sec
2016-10-08 19:30:55,370 Stage-1 map = 44%,  reduce = 0%, Cumulative CPU 47123.74 sec
2016-10-08 19:30:58,615 Stage-1 map = 45%,  reduce = 0%, Cumulative CPU 48098.44 sec
2016-10-08 19:31:01,861 Stage-1 map = 46%,  reduce = 0%, Cumulative CPU 49000.39 sec
2016-10-08 19:31:05,153 Stage-1 map = 47%,  reduce = 0%, Cumulative CPU 50252.56 sec
2016-10-08 19:31:09,479 Stage-1 map = 48%,  reduce = 0%, Cumulative CPU 51137.97 sec
2016-10-08 19:31:13,855 Stage-1 map = 49%,  reduce = 0%, Cumulative CPU 51906.22 sec
2016-10-08 19:31:31,533 Stage-1 map = 50%,  reduce = 0%, Cumulative CPU 52731.73 sec
2016-10-08 19:31:51,883 Stage-1 map = 51%,  reduce = 0%, Cumulative CPU 53877.85 sec
2016-10-08 19:32:26,673 Stage-1 map = 52%,  reduce = 0%, Cumulative CPU 54775.88 sec
2016-10-08 19:32:54,693 Stage-1 map = 53%,  reduce = 0%, Cumulative CPU 55819.53 sec
2016-10-08 19:33:06,920 Stage-1 map = 54%,  reduce = 0%, Cumulative CPU 56709.56 sec
2016-10-08 19:33:31,047 Stage-1 map = 55%,  reduce = 0%, Cumulative CPU 57728.93 sec
2016-10-08 19:33:41,932 Stage-1 map = 56%,  reduce = 0%, Cumulative CPU 58739.98 sec
2016-10-08 19:34:06,047 Stage-1 map = 57%,  reduce = 0%, Cumulative CPU 59712.92 sec
2016-10-08 19:34:21,893 Stage-1 map = 58%,  reduce = 0%, Cumulative CPU 60815.68 sec
2016-10-08 19:34:31,800 Stage-1 map = 59%,  reduce = 0%, Cumulative CPU 61787.04 sec
2016-10-08 19:34:42,613 Stage-1 map = 60%,  reduce = 0%, Cumulative CPU 62865.76 sec
2016-10-08 19:34:51,605 Stage-1 map = 61%,  reduce = 0%, Cumulative CPU 63788.68 sec
2016-10-08 19:35:00,522 Stage-1 map = 62%,  reduce = 0%, Cumulative CPU 64819.69 sec
2016-10-08 19:35:10,408 Stage-1 map = 63%,  reduce = 0%, Cumulative CPU 66032.14 sec
2016-10-08 19:35:17,166 Stage-1 map = 64%,  reduce = 0%, Cumulative CPU 66953.33 sec
2016-10-08 19:35:23,734 Stage-1 map = 65%,  reduce = 0%, Cumulative CPU 67973.97 sec
2016-10-08 19:35:31,738 Stage-1 map = 66%,  reduce = 0%, Cumulative CPU 69218.92 sec
2016-10-08 19:35:37,136 Stage-1 map = 67%,  reduce = 0%, Cumulative CPU 70178.84 sec
2016-10-08 19:35:41,519 Stage-1 map = 68%,  reduce = 0%, Cumulative CPU 71003.17 sec
2016-10-08 19:35:47,097 Stage-1 map = 69%,  reduce = 0%, Cumulative CPU 72224.35 sec
2016-10-08 19:35:50,455 Stage-1 map = 70%,  reduce = 0%, Cumulative CPU 73163.36 sec
2016-10-08 19:35:54,885 Stage-1 map = 71%,  reduce = 0%, Cumulative CPU 74239.65 sec
2016-10-08 19:35:59,257 Stage-1 map = 72%,  reduce = 0%, Cumulative CPU 75282.19 sec
2016-10-08 19:36:03,664 Stage-1 map = 73%,  reduce = 0%, Cumulative CPU 76298.39 sec
2016-10-08 19:36:10,346 Stage-1 map = 74%,  reduce = 0%, Cumulative CPU 77447.27 sec
2016-10-08 19:36:15,907 Stage-1 map = 75%,  reduce = 0%, Cumulative CPU 78256.28 sec
2016-10-08 19:36:22,583 Stage-1 map = 76%,  reduce = 0%, Cumulative CPU 79550.91 sec
2016-10-08 19:36:27,978 Stage-1 map = 77%,  reduce = 0%, Cumulative CPU 80323.05 sec
2016-10-08 19:36:33,399 Stage-1 map = 78%,  reduce = 0%, Cumulative CPU 81116.68 sec
2016-10-08 19:36:39,888 Stage-1 map = 79%,  reduce = 0%, Cumulative CPU 81997.57 sec
2016-10-08 19:36:46,416 Stage-1 map = 80%,  reduce = 0%, Cumulative CPU 82957.04 sec
2016-10-08 19:36:51,839 Stage-1 map = 81%,  reduce = 0%, Cumulative CPU 83814.29 sec
2016-10-08 19:36:59,466 Stage-1 map = 82%,  reduce = 0%, Cumulative CPU 84941.02 sec
2016-10-08 19:37:03,931 Stage-1 map = 83%,  reduce = 0%, Cumulative CPU 85693.21 sec
2016-10-08 19:37:10,623 Stage-1 map = 84%,  reduce = 0%, Cumulative CPU 86683.77 sec
2016-10-08 19:37:19,474 Stage-1 map = 85%,  reduce = 0%, Cumulative CPU 87643.28 sec
2016-10-08 19:37:29,351 Stage-1 map = 86%,  reduce = 0%, Cumulative CPU 88648.4 sec
2016-10-08 19:37:44,946 Stage-1 map = 87%,  reduce = 0%, Cumulative CPU 89467.5 sec
2016-10-08 19:38:01,715 Stage-1 map = 88%,  reduce = 0%, Cumulative CPU 90407.9 sec
2016-10-08 19:38:11,875 Stage-1 map = 89%,  reduce = 0%, Cumulative CPU 91354.23 sec
2016-10-08 19:38:21,779 Stage-1 map = 90%,  reduce = 0%, Cumulative CPU 92420.1 sec
2016-10-08 19:38:29,378 Stage-1 map = 91%,  reduce = 0%, Cumulative CPU 93277.8 sec
2016-10-08 19:38:35,993 Stage-1 map = 92%,  reduce = 0%, Cumulative CPU 94361.69 sec
2016-10-08 19:38:43,878 Stage-1 map = 93%,  reduce = 0%, Cumulative CPU 95168.61 sec
2016-10-08 19:38:54,681 Stage-1 map = 94%,  reduce = 0%, Cumulative CPU 97037.93 sec
2016-10-08 19:39:03,386 Stage-1 map = 95%,  reduce = 0%, Cumulative CPU 98248.03 sec
2016-10-08 19:39:12,148 Stage-1 map = 96%,  reduce = 0%, Cumulative CPU 99314.32 sec
2016-10-08 19:39:17,864 Stage-1 map = 97%,  reduce = 0%, Cumulative CPU 100109.11 sec
2016-10-08 19:39:23,291 Stage-1 map = 98%,  reduce = 0%, Cumulative CPU 100788.52 sec
2016-10-08 19:39:33,130 Stage-1 map = 99%,  reduce = 0%, Cumulative CPU 101964.41 sec
2016-10-08 19:40:34,178 Stage-1 map = 99%,  reduce = 0%, Cumulative CPU 102737.32 sec
2016-10-08 19:40:35,261 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 102738.01 sec
2016-10-08 19:40:48,412 Stage-1 map = 100%,  reduce = 1%, Cumulative CPU 102955.34 sec
2016-10-08 19:40:50,587 Stage-1 map = 100%,  reduce = 2%, Cumulative CPU 103196.6 sec
2016-10-08 19:40:52,794 Stage-1 map = 100%,  reduce = 3%, Cumulative CPU 103427.44 sec
2016-10-08 19:40:55,006 Stage-1 map = 100%,  reduce = 4%, Cumulative CPU 103605.75 sec
2016-10-08 19:40:57,227 Stage-1 map = 100%,  reduce = 5%, Cumulative CPU 103832.64 sec
2016-10-08 19:41:00,628 Stage-1 map = 100%,  reduce = 6%, Cumulative CPU 104191.32 sec
2016-10-08 19:41:01,773 Stage-1 map = 100%,  reduce = 7%, Cumulative CPU 104366.6 sec
2016-10-08 19:41:03,967 Stage-1 map = 100%,  reduce = 8%, Cumulative CPU 104571.56 sec
2016-10-08 19:41:06,179 Stage-1 map = 100%,  reduce = 9%, Cumulative CPU 104763.51 sec
2016-10-08 19:41:11,636 Stage-1 map = 100%,  reduce = 10%, Cumulative CPU 105014.28 sec
2016-10-08 19:41:13,840 Stage-1 map = 100%,  reduce = 11%, Cumulative CPU 105217.06 sec
2016-10-08 19:41:17,149 Stage-1 map = 100%,  reduce = 12%, Cumulative CPU 105548.56 sec
2016-10-08 19:41:19,355 Stage-1 map = 100%,  reduce = 13%, Cumulative CPU 105742.29 sec
2016-10-08 19:41:22,633 Stage-1 map = 100%,  reduce = 14%, Cumulative CPU 106011.82 sec
2016-10-08 19:41:26,034 Stage-1 map = 100%,  reduce = 15%, Cumulative CPU 106386.1 sec
2016-10-08 19:41:27,140 Stage-1 map = 100%,  reduce = 16%, Cumulative CPU 106636.78 sec
2016-10-08 19:41:28,472 Stage-1 map = 100%,  reduce = 17%, Cumulative CPU 106869.42 sec
2016-10-08 19:41:29,643 Stage-1 map = 100%,  reduce = 18%, Cumulative CPU 107095.47 sec
2016-10-08 19:41:30,767 Stage-1 map = 100%,  reduce = 20%, Cumulative CPU 107437.06 sec
2016-10-08 19:41:31,897 Stage-1 map = 100%,  reduce = 21%, Cumulative CPU 107680.41 sec
2016-10-08 19:41:33,066 Stage-1 map = 100%,  reduce = 23%, Cumulative CPU 108091.85 sec
2016-10-08 19:41:34,192 Stage-1 map = 100%,  reduce = 24%, Cumulative CPU 108357.79 sec
2016-10-08 19:41:35,337 Stage-1 map = 100%,  reduce = 25%, Cumulative CPU 108728.09 sec
2016-10-08 19:41:36,465 Stage-1 map = 100%,  reduce = 27%, Cumulative CPU 109124.92 sec
2016-10-08 19:41:37,572 Stage-1 map = 100%,  reduce = 28%, Cumulative CPU 109522.11 sec
2016-10-08 19:41:38,699 Stage-1 map = 100%,  reduce = 30%, Cumulative CPU 109989.24 sec
2016-10-08 19:41:39,796 Stage-1 map = 100%,  reduce = 32%, Cumulative CPU 110519.48 sec
2016-10-08 19:41:40,929 Stage-1 map = 100%,  reduce = 34%, Cumulative CPU 110906.95 sec
2016-10-08 19:41:42,064 Stage-1 map = 100%,  reduce = 36%, Cumulative CPU 111368.88 sec
2016-10-08 19:41:43,156 Stage-1 map = 100%,  reduce = 37%, Cumulative CPU 111898.07 sec
2016-10-08 19:41:44,254 Stage-1 map = 100%,  reduce = 39%, Cumulative CPU 112226.22 sec
2016-10-08 19:41:45,374 Stage-1 map = 100%,  reduce = 40%, Cumulative CPU 112691.34 sec
2016-10-08 19:41:46,463 Stage-1 map = 100%,  reduce = 42%, Cumulative CPU 113084.11 sec
2016-10-08 19:41:47,592 Stage-1 map = 100%,  reduce = 44%, Cumulative CPU 113532.38 sec
2016-10-08 19:41:48,739 Stage-1 map = 100%,  reduce = 46%, Cumulative CPU 114056.63 sec
2016-10-08 19:41:50,081 Stage-1 map = 100%,  reduce = 48%, Cumulative CPU 114601.55 sec
2016-10-08 19:41:51,194 Stage-1 map = 100%,  reduce = 50%, Cumulative CPU 115069.32 sec
2016-10-08 19:41:52,327 Stage-1 map = 100%,  reduce = 52%, Cumulative CPU 115534.38 sec
2016-10-08 19:41:53,481 Stage-1 map = 100%,  reduce = 53%, Cumulative CPU 115942.06 sec
2016-10-08 19:41:54,610 Stage-1 map = 100%,  reduce = 55%, Cumulative CPU 116361.29 sec
2016-10-08 19:41:55,712 Stage-1 map = 100%,  reduce = 56%, Cumulative CPU 116762.25 sec
2016-10-08 19:41:56,840 Stage-1 map = 100%,  reduce = 58%, Cumulative CPU 117208.55 sec
2016-10-08 19:41:57,944 Stage-1 map = 100%,  reduce = 59%, Cumulative CPU 117591.91 sec
2016-10-08 19:41:59,080 Stage-1 map = 100%,  reduce = 61%, Cumulative CPU 117926.91 sec
2016-10-08 19:42:00,170 Stage-1 map = 100%,  reduce = 63%, Cumulative CPU 118270.36 sec
2016-10-08 19:42:01,266 Stage-1 map = 100%,  reduce = 64%, Cumulative CPU 118531.53 sec
2016-10-08 19:42:02,355 Stage-1 map = 100%,  reduce = 65%, Cumulative CPU 118752.64 sec
2016-10-08 19:42:03,453 Stage-1 map = 100%,  reduce = 66%, Cumulative CPU 118923.75 sec
2016-10-08 19:42:04,789 Stage-1 map = 100%,  reduce = 67%, Cumulative CPU 119083.66 sec
2016-10-08 19:42:06,967 Stage-1 map = 100%,  reduce = 68%, Cumulative CPU 119328.77 sec
2016-10-08 19:42:09,140 Stage-1 map = 100%,  reduce = 69%, Cumulative CPU 119622.33 sec
2016-10-08 19:42:10,241 Stage-1 map = 100%,  reduce = 70%, Cumulative CPU 119949.84 sec
2016-10-08 19:42:11,370 Stage-1 map = 100%,  reduce = 72%, Cumulative CPU 120253.65 sec
2016-10-08 19:42:12,496 Stage-1 map = 100%,  reduce = 73%, Cumulative CPU 120583.91 sec
2016-10-08 19:42:13,649 Stage-1 map = 100%,  reduce = 74%, Cumulative CPU 120904.52 sec
2016-10-08 19:42:14,740 Stage-1 map = 100%,  reduce = 76%, Cumulative CPU 121269.11 sec
2016-10-08 19:42:15,826 Stage-1 map = 100%,  reduce = 77%, Cumulative CPU 121556.22 sec
2016-10-08 19:42:16,919 Stage-1 map = 100%,  reduce = 78%, Cumulative CPU 121892.85 sec
2016-10-08 19:42:18,037 Stage-1 map = 100%,  reduce = 79%, Cumulative CPU 122232.56 sec
2016-10-08 19:42:19,154 Stage-1 map = 100%,  reduce = 81%, Cumulative CPU 122533.38 sec
2016-10-08 19:42:20,239 Stage-1 map = 100%,  reduce = 82%, Cumulative CPU 122958.4 sec
2016-10-08 19:42:21,344 Stage-1 map = 100%,  reduce = 83%, Cumulative CPU 123271.19 sec
2016-10-08 19:42:22,448 Stage-1 map = 100%,  reduce = 85%, Cumulative CPU 123660.9 sec
2016-10-08 19:42:23,556 Stage-1 map = 100%,  reduce = 86%, Cumulative CPU 124044.95 sec
2016-10-08 19:42:24,685 Stage-1 map = 100%,  reduce = 88%, Cumulative CPU 124396.36 sec
2016-10-08 19:42:25,806 Stage-1 map = 100%,  reduce = 90%, Cumulative CPU 124825.98 sec
2016-10-08 19:42:26,947 Stage-1 map = 100%,  reduce = 91%, Cumulative CPU 125204.73 sec
2016-10-08 19:42:28,103 Stage-1 map = 100%,  reduce = 93%, Cumulative CPU 125568.92 sec
2016-10-08 19:42:29,238 Stage-1 map = 100%,  reduce = 94%, Cumulative CPU 125890.9 sec
2016-10-08 19:42:30,384 Stage-1 map = 100%,  reduce = 95%, Cumulative CPU 126131.24 sec
2016-10-08 19:42:31,499 Stage-1 map = 100%,  reduce = 97%, Cumulative CPU 126410.76 sec
2016-10-08 19:42:32,661 Stage-1 map = 100%,  reduce = 98%, Cumulative CPU 126599.21 sec
2016-10-08 19:42:34,934 Stage-1 map = 100%,  reduce = 99%, Cumulative CPU 126824.34 sec
2016-10-08 19:42:43,944 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 127091.88 sec
MapReduce Total cumulative CPU time: 1 days 11 hours 18 minutes 11 seconds 880 msec
Ended Job = job_1471856463785_1054957
MapReduce Jobs Launched:
p: 10609  Reduce: 1009   Cumulative CPU: 127091.88 sec   HDFS Read: 50759485318 HDFS Write: 2037167912 SUCCESS
Total MapReduce CPU Time Spent: 1 days 11 hours 18 minutes 11 seconds 880 msec
OK
Time taken: 1132.211 seconds, Fetched: 388851044 row(s)

In [5]:
ip

           vendor_id    _c1
0                  1    648
1                  1    853
2                  1    292
3                  1    274
4                  1    826
5                  1    639
6                  1   6337
7                  1   1626
8                  1    129
9                  1    420
10                 1    367
11                 1    875
12                 1    770
13                 1   1891
14                 1    715
15                 1    166
16                 1  15141
17                 1    648
18                 1    644
19                 1    713
20                 1    293
21                 1    573
22                 1   1978
23                 1   1282
24                 1    257
25                 1   4003
26                 1    820
27                 1   1946
28                 1    727
29                 1    314
...              ...    ...
388851014         70     12
388851015         70     10
388851016         70      9
388851017         70      3
388851018         70    192
388851019         70      9
388851020         70      2
388851021         70     19
388851022         70     13
388851023         70      5
388851024         70      5
388851025         70      3
388851026         70     41
388851027         70     29
388851028         70     19
388851029         70     73
388851030         70     10
388851031         70     37
388851032         70      4
388851033         70      3
388851034         70     56
388851035         70     17
388851036         70      3
388851037         70      5
388851038         70     22
388851039         70     11
388851040         70     20
388851041         70     14
388851042         70      6
388851043         70     21

[388851044 rows x 2 columns]

In [11]:
ip['_c1'].describe()

count    3.888510e+08
mean     4.253985e+01
std      2.606411e+03
min      1.000000e+00
25%      2.000000e+00
50%      7.000000e+00
75%      2.300000e+01
max      3.844252e+07
Name: _c1, dtype: float64

In [16]:
user['_c1'].quantile([.80,.90,.95,.99])

0.80     11.0
0.90     24.0
0.95     45.0
0.99    150.0
Name: _c1, dtype: float64

In [23]:
user=readHive("select vendor_id, count(1) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,pid")

['hive', '-e', 'set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;select vendor_id, count(1) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,pid']

Logging initialized using configuration in file:/var/bh/lib/apache-hive-1.2.1-bin/conf/hive-log4j.properties

KeyboardInterrupt:

In [ ]:
useractive=readHive("select vendor_id, count(distinct hour) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,pid")

['hive', '-e', 'set mapreduce.job.queuename=zampda_job;set hive.cli.print.header=true;select vendor_id, count(distinct hour) from archive.rtbv2 where year=2016 and month=10 and day=7 group by vendor_id,pid']

Logging initialized using configuration in file:/var/bh/lib/apache-hive-1.2.1-bin/conf/hive-log4j.properties
Query ID = changbin_20161010140318_dfad7a22-0f37-44bc-bffe-e3d329c1c7c0
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1009
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1471856463785_1099601, Tracking URL = http://TS-NN-001:50030/proxy/application_1471856463785_1099601/
Kill Command = /var/bh/hadoop/bin/hadoop job  -kill job_1471856463785_1099601
Hadoop job information for Stage-1: number of mappers: 10605; number of reducers: 1009
2016-10-10 14:04:00,190 Stage-1 map = 0%,  reduce = 0%
2016-10-10 14:04:33,130 Stage-1 map = 1%,  reduce = 0%, Cumulative CPU 1373.23 sec
2016-10-10 14:04:40,734 Stage-1 map = 2%,  reduce = 0%, Cumulative CPU 3449.71 sec
2016-10-10 14:04:47,439 Stage-1 map = 3%,  reduce = 0%, Cumulative CPU 5244.81 sec
2016-10-10 14:04:52,868 Stage-1 map = 4%,  reduce = 0%, Cumulative CPU 7067.02 sec
2016-10-10 14:04:56,191 Stage-1 map = 5%,  reduce = 0%, Cumulative CPU 8440.25 sec
2016-10-10 14:05:00,545 Stage-1 map = 6%,  reduce = 0%, Cumulative CPU 10057.18 sec
2016-10-10 14:05:07,149 Stage-1 map = 7%,  reduce = 0%, Cumulative CPU 11470.45 sec
2016-10-10 14:05:13,632 Stage-1 map = 8%,  reduce = 0%, Cumulative CPU 13212.45 sec
2016-10-10 14:05:19,281 Stage-1 map = 9%,  reduce = 0%, Cumulative CPU 14631.82 sec
2016-10-10 14:05:25,731 Stage-1 map = 10%,  reduce = 0%, Cumulative CPU 16073.74 sec
2016-10-10 14:05:31,130 Stage-1 map = 11%,  reduce = 0%, Cumulative CPU 17449.0 sec
2016-10-10 14:05:37,609 Stage-1 map = 12%,  reduce = 0%, Cumulative CPU 18757.54 sec
2016-10-10 14:05:43,037 Stage-1 map = 13%,  reduce = 0%, Cumulative CPU 20274.5 sec

In [5]:
useractive

            vendor_id  c1
0                   0  17
1                   1   2
2                   1   2
3                   1   6
4                   1   2
5                   1   1
6                   1   1
7                   1   3
8                   1   4
9                   1   1
10                  1   1
11                  1   1
12                  1   6
13                  1   1
14                  1   1
15                  1   1
16                  1   1
17                  1   1
18                  1   1
19                  1   2
20                  1   1
21                  1   1
22                  1   2
23                  1   1
24                  1   2
25                  1   4
26                  1   1
27                  1   1
28                  1   1
29                  1   1
...               ...  ..
1337084250         70   3
1337084251         70   1
1337084252         70   2
1337084253         70   1
1337084254         70   1
1337084255         70   6
1337084256         70   1
1337084257         70   4
1337084258         70   2
1337084259         70   5
1337084260         70   2
1337084261         70   2
1337084262         70   1
1337084263         70   1
1337084264         70   1
1337084265         70   4
1337084266         70   1
1337084267         70   1
1337084268         70   2
1337084269         70   1
1337084270         70   1
1337084271         70   1
1337084272         70   1
1337084273         70   1
1337084274         70   3
1337084275         70   1
1337084276         70   4
1337084277         70   1
1337084278         70   1
1337084279         70   1

[1337084280 rows x 2 columns]

In [1]:
for i in [1,2,5,9,15,21]:
    print "-----------"+str(i)
    print useractive.query("vendor_id=="+str(i))['c1'].describe()
    print useractive.query("vendor_id=="+str(i))['c1'].quantile([.80,.90,.95,.99,.999])

-----------1

NameError: name 'useractive' is not defined