In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib.font_manager import FontProperties
%matplotlib inline
%pylab inline
pylab.rcParams['figure.figsize'] = (12, 8)
import matplotlib
matplotlib.style.use('ggplot')
#matplotlib.style.use('default')
from numpy import *
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [32]:
imp=pd.read_table("./adsizeimp",sep='\t',header=None)
clk=pd.read_table("./adsizeclk",sep='\t',header=None)
rtb=pd.read_table("./adsizertb",sep='\t',header=None)

In [5]:
m=pd.merge(imp,clk,left_on=[0,1,2,3],right_on=[0,1,2,3])

In [7]:
m['ctr']=m['4_y']/m['4_x']

In [25]:
ok_imp=m.loc[(m['4_x']>10000)&(m['ctr']>0.002)].sort_values(['ctr'],ascending=False)['4_x'].sum()
ok_clk=m.loc[(m['4_x']>10000)&(m['ctr']>0.002)].sort_values(['ctr'],ascending=False)['4_y'].sum()
print ok_imp,ok_clk,ok_clk/float(ok_imp)

23121645 117892 0.00509877216781

In [26]:
nok_imp=m.loc[(m['4_x']<=10000)|(m['ctr']<=0.002)].sort_values(['ctr'],ascending=False)['4_x'].sum()
nok_clk=m.loc[(m['4_x']<=10000)|(m['ctr']<=0.002)].sort_values(['ctr'],ascending=False)['4_y'].sum()
print nok_imp,nok_clk,nok_clk/float(nok_imp)

137311293 154492 0.00112512231605

In [36]:
ok=m.loc[(m['4_x']>10000)&(m['ctr']>0.002)].sort_values(['ctr'],ascending=False)
ok[[0,1,2]].dropna()

ok_rtb=pd.merge(rtb,ok,left_on=[0,1,2,3],right_on=[0,1,2,3])

In [48]:
print ok_rtb[5].sum()
ok_rtb.groupby([4])[5].sum()
# ok_rtb

5224095938

4
-1            6440
 0       153701038
 2        11155268
 4              15
 8      1305492051
 9       144393712
 11              1
 14       13477865
 16       29165585
 20      802167386
 21       42423155
 27        3099051
 28      104819006
 37      426852680
 43      124441559
 46          34584
 98           6377
 101     132500215
 104             9
 105        364516
 106           761
 151      15838901
 152    1458823421
 153     180735272
 154      93059711
 155       6000099
 210        212008
 211         10361
 220     175314891
Name: 5, dtype: int64

In [58]:
spam_dis=pd.read_table("./spam_dis",sep='\t',header=None)
spam_define=pd.read_table("./spam_define",sep='\t',header=None)

In [66]:
spam=pd.merge(spam_define,spam_dis,left_on=[1],right_on=[1])

In [73]:
spam.sort_values([2],ascending=False)
# spam[spam['0_x']=='D003'][2].sum()

         0_x   1  0_y          2
46      D003   7    9  497329969
319     D009  29   21  419840291
38      D003   7    2  406406998
321     D009  29   24  352747164
50      D003   7   21  321811068
52      D003   7   24  233829264
315     D009  29    9  230985324
297     M010  28   10  222472251
307     D009  29    2  203939350
47      D003   7   10  195172868
296     M010  28    9  175262897
56      D003   7   31  138997415
316     D009  29   10  137722613
70      D004   8   21  114353311
229     M005  19   15  111473553
175     M001  15   15  102893322
231     M005  19   21  102679895
192     M002  16   15   89635709
81      D005   9    5   88042044
48      D003   7   15   85932928
317     D009  29   15   75646852
9    UNKNOWN   0    9   72410894
140     D008  26   21   71985244
325     D009  29   31   71780309
43      D003   7   70   67875614
318     D009  29   16   63987884
49      D003   7   16   62389992
55      D003   7   61   62387475
355   IDC_IP  33    9   61097306
146     D008  26   31   61091966
..       ...  ..  ...        ...
292     M010  28    1         95
156     H001  13    2         81
160     H002  14    2         79
33      D001   5   24         70
116     D007  25    8         52
28      D001   5    9         47
21      D001   5    2         42
32      D001   5   21         42
124     D007  25   58         39
22      D001   5   68         35
157     H001  13    9         32
123     D007  25   57         31
202     M004  18    4         27
24      D001   5   37         21
31      D001   5   16         18
164     H002  14   31         14
25      D001   5   70          9
35      D001   5   61          8
97      D006  10   70          7
161     H002  14   37          6
36      D001   5   31          5
159     H002  14    1          2
23      D001   5    3          2
270     M007  21   57          2
88      D005   9   24          1
141     D008  26   54          1
34      D001   5   57          1
30      D001   5   15          1
27      D001   5    8          1
104     D006  10   54          1

[386 rows x 4 columns]

In [57]:
spam_define

                   0
0          UNKNOWN 0
1        MANUAL_IP 1
2    MANUAL_DOMAIN 2
3    MANUAL_APPID  3
4      MANUAL_PID  4
5            D001  5
6            D002  6
7            D003  7
8            D004  8
9            D005  9
10          D006  10
11          D007  25
12          D008  26
13          A001  11
14          A002  12
15          H001  13
16          H002  14
17          M001  15
18          M002  16
19          M003  17
20          M004  18
21          M005  19
22          M006  20
23          M007  21
24          M008  22
25          M009  27
26          M010  28
27          B001  23
28          B002  24
29          D009  29
30          D010  30
31          M011  31
32          M012  32
33        IDC_IP  33
34  ABNORM_DOMAIN 34
35        WEEK_IP 35

In [55]:
spam_define

                   0
0          UNKNOWN 0
1        MANUAL_IP 1
2    MANUAL_DOMAIN 2
3    MANUAL_APPID  3
4      MANUAL_PID  4
5            D001  5
6            D002  6
7            D003  7
8            D004  8
9            D005  9
10          D006  10
11          D007  25
12          D008  26
13          A001  11
14          A002  12
15          H001  13
16          H002  14
17          M001  15
18          M002  16
19          M003  17
20          M004  18
21          M005  19
22          M006  20
23          M007  21
24          M008  22
25          M009  27
26          M010  28
27          B001  23
28          B002  24
29          D009  29
30          D010  30
31          M011  31
32          M012  32
33        IDC_IP  33
34  ABNORM_DOMAIN 34
35        WEEK_IP 35

                   0
0          UNKNOWN 0
1        MANUAL_IP 1
2    MANUAL_DOMAIN 2
3    MANUAL_APPID  3
4      MANUAL_PID  4
5            D001  5
6            D002  6
7            D003  7
8            D004  8
9            D005  9
10          D006  10
11          D007  25
12          D008  26
13          A001  11
14          A002  12
15          H001  13
16          H002  14
17          M001  15
18          M002  16
19          M003  17
20          M004  18
21          M005  19
22          M006  20
23          M007  21
24          M008  22
25          M009  27
26          M010  28
27          B001  23
28          B002  24
29          D009  29
30          D010  30
31          M011  31
32          M012  32
33        IDC_IP  33
34  ABNORM_DOMAIN 34
35        WEEK_IP 35

In [22]:
m.loc[(m['4_x']>10000)&(m['ctr']>0.002)].sort_values(['ctr'],ascending=False)['4_y'].sum()

117892